body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    /* max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    padding: 0 20px;
}
.container .svg-container {
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
.hero .svg-container {
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
 
  
  .container h2 {
    /* margin-bottom: 20px; */
    font-family: serif;
    color: #0F241B;
    text-align: center;
    line-height: 32px;
    font-size: 20px;
    font-weight: 700;
  }

.container p {
    color: #1D352A;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 200px;
}
.index-hero p {
    color: #1D352A;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 300px;
}

  .cta-button {
    background-color: #03A84E;
    border: none;
    width: 300px;
  
    color: #ffffff;
    padding: 12px 16px 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #45a049;
  }
  
  .cta-button:active {
    background-color: #3e8e41;
  }
  
  /* Media Query for Responsiveness */
  @media (max-width: 768px) {
    cta-button {
      padding: 10px 20px;
      font-size: 14px;
    }
  }
  

   /* home page */


   /* Reset default margin and padding for better consistency */
/* body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  } */
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  .index-hero {
  
    text-align: center;
    padding: 50px 0;
    margin-top: 100px;
  }
  .index-hero h2 {
    /* margin-bottom: 20px; */
    font-family: serif;
    color: #0F241B;
    text-align: center;
    line-height: 32px;
    font-size: 20px;
    font-weight: 700;
  }
  .hero {
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 40px;
  }
  .hero-home-1 {
    background-color: #03A84E;
    background-image: url("./assets/bg-img.svg");
    background-repeat: no-repeat;
    background-position: right bottom; 
    text-align: left;
    padding: 50px 0;
    margin-bottom: 40px;
    color: #ffffff;
    border: 4px solid #98DCAF;
    border-radius: 8px;
  }
  .hero h2 {
    /* margin-bottom: 20px; */
    font-family: serif;
    color: #0F241B;
    text-align: center;
    line-height: 32px;
    font-size: 20px;
    font-weight: 700;
  }
  

  

  footer {
    border-top:1px solid #F1F4F2 ;
    color: #8AA398;
    text-align: center;
    padding: 10px;
  }

  footer nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  footer nav li {
    margin: 0 15px;
  }
  
  footer nav li a {
    color: #8AA398;
    text-decoration: none;
  }
  

/* tab */

.tabby {
    max-width: 45em;
    margin: auto;
  }
  
  /* Tabs */
  .tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .tab {
    position: relative;
    margin-bottom: -0.5em;
    padding: 1em;
    background-color: #ffffff;
    border: 0.5em solid  #ffffff;
    filter: grayscale(75%) brightness(0.9);
    color:  #000000;
  }
  
  .tab.is-selected {
    filter: none;
    background-color: white;
  }
  
  .tab.is-selected::after {
    position: absolute;
    z-index: 1;
    bottom: -0.5em;
    left: 0;
    right: 0;
    display: block;
    content: "";
    border-bottom: 0.5em solid white;
  }
  
  /* Tab-content */
  .tab-contents {
    position: relative;
  }
  
  .tab-content {
    display: none;
    padding: 2.5em;
    border: 0.5em solid  #ffffff;
    background-color: white;
  }
  
  .tab-content.is-selected {
    display: block;
  }
  
 
  /* Modal */
.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  body.modal-is-open .modal-overlay {
    opacity: 1;
    z-index: 1;
  }
  
  .modal {
    display: grid;
    place-items: center;
    position: relative;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
    color: #fff;
    min-width: 50vmin;
    min-height: 50vmin;
  }
  
  .modal__close-button {
    position: absolute;
    top: -1.5em;
    right: -1.5em;
    padding: 1em 1em;
    font-size: 0.6em;
    border-radius: 50%;
    border: 2px solid  #000000;
    background:  #ffffff;
    color: white;
    opacity: 0;
  }
  
  .modal:hover .modal__close-button {
    opacity: 1;
  }
  
  .modal__close-button:hover,
  .modal__close-button:active,
  .modal__close-button:focus {
    opacity: 1;
    background:  #ffffff;
    border-color: #ffffff;
  }
  